<div class="login">
    <form action="" class="form-inline pull-right">
        <input class="input-small" name="username" type="text" placeholder="Username" autocomplete="off">
        <input class="input-small" name="password" type="password" placeholder="Password">

        <div class="btn-group pull-right" style="padding-left:5px;margin-top:-5px">
            <button type="submit" name="login" class="btn">Go</button>
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a id="forgot-pass" data-toggle="modal" data-target="#modal" href="#">Forgot Password?</a></li>
            </ul>
        </div>
    </form>
</div>