<!-- Main hero unit for a primary marketing message or call to action -->
<div class="row">
    <div class="span4 offset2">
        <div class="row">IMAGES HERE</div>
    </div>
    <div class="span4 login">
        <div class="row">
            <div class="login-form">
                <h2>Login</h2>

                <form action="">
                    <fieldset>
                        <div class="clearfix">
                            <input type="text" placeholder="Username" name="username"/>
                        </div>
                        <div class="clearfix">
                            <input type="password" placeholder="Password" name="password"/>
                        </div>
                        <div class="controls">
                            <button class="btn btn-large primary" type="submit" name="sign-in">Sign in</button>
                        </div>
                        <div class="clearfix pull-right">
                            <a id="forgot-pass" href="#">Forgot Password?</a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>